// navigation

.navigation {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: rgba(57, 54, 70, 0.9);

    ul {
        display: grid;
        grid-template-columns: 60px repeat(3, 220px);
        padding: 40px 60px 15px;
        list-style: none;

        li:first-child {
            align-self: end;
        }

        mat-icon {
            transition: all 100ms ease-in-out;
            fill: #a9a498;
            cursor: pointer;

            &:hover {
                fill: var(--text-color);
            }
        }

        button {
            font-size: 30px;
            text-decoration: none;
            font-weight: 600;

            .btn-text,
            mat-icon {
                transition: all 100ms ease-in-out;
                color: #a9a498;
            }

            &:hover {

                .btn-text,
                mat-icon {
                    color: var(--text-color);
                }
            }
        }

        mat-icon {
            height: 24px;
            width: 24px;
            padding-bottom: 3px;
        }
    }

}

@media (max-width: 1670px) {
    .navigation ul {
        grid-template-columns: 50px repeat(2, 155px);

        button {
            font-size: 20px;
        }

        mat-icon {
            height: 19px;
            width: 19px;
            padding-bottom: 5px;
        }
    }

}
@media (max-width: 1070px) {  

    .navigation ul {
        padding: 20px 40px 10px;
    }
}


@media (max-width: 600px) {
    .navigation ul {
        grid-template-columns: 35px repeat(2, 120px);
        padding: 10px 30px 5px;

        button {
            font-size: 16px;
        }

        mat-icon {
            height: 14px;
            width: 14px;
            padding-bottom: 7px;    
        }
    }
}


@media (max-width: 896px) and (orientation: landscape){
        .navigation ul {
        grid-template-columns: 35px repeat(2, 120px);
        padding: 10px 30px 0;

        button {
            font-size: 16px;
        }

        mat-icon {
            height: 14px;
            width: 14px;
            padding-bottom: 7px;    
        }
    }
}
