<header>
  <img src="../assets/images/my_pic.jpg">
  <section class="general-info">
    <h1>Natalie Klid</h1>
    <h2>Frontend Developer</h2>
    <p>Stack: Angular, Ionic</p>
  </section>
</header>


<section class="experience">
  <h2>Experience</h2>
  <div *ngFor="let element of experience" class="experience-item">
    <div class="experience-item-details">
      <h3>{{element.company}}</h3>
      <div *ngFor="let title of element.titles" class="experience-item-details-title">
        <h4>{{title.position}}</h4>
        <h5>{{title.time}}</h5>
      </div>
    </div>
    <div class="projects">
      <div class="project" *ngFor="let project of element.projects">
        <h5>Project name: {{project.name}}</h5>
        <p>Client: {{project.client}}</p>
        <p>Team: {{project.team}}</p>
        <p>Tech: {{project.stack}}</p>
      </div>
    </div>
  </div>
</section>
