// common

header,
section {
    padding-inline: 60px;
    overflow: hidden;
}

section {
    padding-block: 120px;

    &:nth-of-type(1) {
        background-color: #4F4557;
    }

    &:nth-of-type(2) {
        background-color: #6D5D6E;
    }
}

// navigation

.navigation {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: rgba(57, 54, 70, 0.9);

    ul {
        display: grid;
        grid-template-columns: 60px repeat(2, 220px);
        padding: 40px 60px 15px;
        list-style: none;

        li:first-child {
            align-self: end;
        }

        mat-icon {
            transition: all 100ms ease-in-out;
            fill: #a9a498;
            cursor: pointer;

            &:hover {
                fill: var(--text-color);
            }
        }

        button {
            font-size: 30px;
            text-decoration: none;
            font-weight: 600;

            .btn-text,
            mat-icon {
                transition: all 100ms ease-in-out;
                color: #a9a498;
            }

            &:hover {

                .btn-text,
                mat-icon {
                    color: var(--text-color);
                }
            }
        }

        mat-icon {
            height: 24px;
            width: 24px;
            padding-bottom: 3px;
        }
    }

}

// TODO responsiveness of the nav 

// Header

header {
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 5vw;
    background-color: #393646;

    img {
        border-radius: 35%;
        width: 40%;
    }
}

.general-info {
    h1 {
        margin-bottom: 40px;
        text-transform: uppercase;
    }

    h2 {
        margin-bottom: 10px;
        text-transform: uppercase;
    }
}

// Experience section

.experience-item {
    margin-block: 50px 80px;
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-template-rows: none;

    &-details {
        &-title {
            margin-block: 10px;
        }
    }
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
    grid-gap: 3vw;
}

.project {
    h5 {
        margin-bottom: 5px;
    }
}


// Contacts section

.buttons-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: none;
    padding: 15vh 3vw;
    box-sizing: border-box;
}

.contacts-btn {
    height: 7vw;

    mat-icon {
        height: 7vw;
        width: 7vw;
        transition: all 80ms ease-in-out;
    }

    &:hover {
        mat-icon {
            height: 7.5vw;
            width: 7.5vw;
            filter: drop-shadow(5px 5px 5px rgb(94, 81, 81));
        }
    }
}

@media (max-width: 1670px) {
    .projects {
        grid-gap: 3vw 7vw;
    }

    .navigation ul {
        grid-template-columns: 50px repeat(2, 155px);

        button {
            font-size: 20px;
        }

        mat-icon {
            height: 19px;
            width: 19px;
            padding-bottom: 5px;
        }
    }

}

@media (max-width: 1350px) {
    .projects {
        grid-template-columns: 1fr;
        grid-gap: 4vw;
    }
}

@media (max-width: 1070px) {
    .experience-item {
        grid-template-columns: 400px 1fr;
        grid-gap: 2vw;
    }

    .contacts-btn {
        height: 9vw;

        mat-icon {
            height: 9vw;
            width: 9vw;
        }

        &:hover {
            mat-icon {
                height: 9.5vw;
                width: 9.5vw;
            }
        }
    }

    .navigation ul {
        padding: 20px 40px 10px;
    }
}

@media (max-width: 825px) {

    header,
    section {
        padding-inline: 30px;
    }

    .experience-item {
        grid-template-columns: 240px 1fr;
    }

    .buttons-wrapper {
        padding: 10vh 0;
    }

    .contacts-btn {
        height: 12vw;

        mat-icon {
            height: 12vw;
            width: 12vw;
        }
    }    
}

@media (max-width: 600px) {
    section {
        padding-block: 65px;
    }

    .experience-item {
        grid-template-columns: 1fr;
        border-bottom: 1px solid #6D5D6E;
        padding-bottom: 30px;
        grid-gap: 5vw;
        margin-block: 30px;
    }

    .experience-item-details-title {
        display: flex;
        gap: 10vw;
        margin-block: 5px;
    }

    .projects {
        h5 {
            text-transform: uppercase;
        }
    }

    .buttons-wrapper {
        padding: 7vh 0;
    }

    .navigation ul {
        grid-template-columns: 35px repeat(2, 120px);
        padding: 10px 30px 5px;

        button {
            font-size: 16px;
        }

        mat-icon {
            height: 14px;
            width: 14px;
            padding-bottom: 7px;    
        }
    }
}

@media (max-width: 450px) {
    .experience-item-details-title {
        gap: 0;
        margin-block: 10px;
        flex-direction: column;
    }
}

@media (max-width: 896px) and (orientation: landscape){
    header img {
        max-height: 70vh;
        width: auto;
    }

    section {
        padding-block: 70px;
    }
    .navigation ul {
        grid-template-columns: 35px repeat(2, 120px);
        padding: 10px 30px 0;

        button {
            font-size: 16px;
        }

        mat-icon {
            height: 14px;
            width: 14px;
            padding-bottom: 7px;    
        }
    }
}

@media (orientation: portrait) {
    header {
        flex-direction: column;
        justify-content: center;

        img {
            width: 50%;
        }
    }
}

@media (orientation: portrait) and (max-width: 970px) {
    header {
        .general-info h1 {
            margin-bottom: 20px;
        }

        h2 {
            font-size: 25px;
        }
    }
}

@media (orientation: portrait) and (max-width: 820px) {

    header img {
        width: 60vw;
    }

    header h1 {
        font-size: 50px;

    }

    header {
        gap: 7vh;
    }
}

@media (orientation: portrait) and (max-width: 540px) {
    header {
        img {
            width: 70vw;
        }

        h1 {
            font-size: 45px;
        }

        h2 {
            font-size: 20px;
        }
    }
}