/* You can add global styles to this file, and also import other style files */

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
}

:root {
    --text-color: #F4EEE0;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 35px;
}

p {
    font-size: 20px;
}